<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mz.co.commandline.grocery">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".infra.GroceryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SaleActivity" />
        <activity android:name=".activities.ReportActivity" />
        <activity android:name=".activities.StockActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.InventoryActivity"
            android:label="@string/title_activity_inventory"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>